<!DOCTYPE html>

<html>

<head>

  <title>Student Management</title>

   <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag    "application", :media => "all" %> 

  <%= csrf_meta_tags %>

</head>



<body>
		
		
		<div id="bodys">
			<%= yield %>
		
		</div >
</body>

</html>
